html, body,.container-fluid {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.row{
    margin:0;
    padding:0;
}
/* Introduction */
#typed {
    display: inline;
    font-size: 25px;
    font-weight: bold;
}
#iama{
    font-size: 25px;

}

.contain{
    width: 1500px;
}

/*Add custom cursor so it auto inherits font styles*/
#typed::after {
    color:black;
    content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 1;
	display: none;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.intro-content {
    background-color:rgba(255,255,255,.25);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    padding:10vmin;
    text-align:center;
    margin: 0;
    height: fit-content;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow-x: hidden;
    /* overflow-y: auto; */
}

.intro{
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/bg1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.intro-content h3{ 
    font-size: 2em;
}

.intro-content span{
    font-size: 4.5em;
}

#section05{
    width: 100%;
}
#section05 a {
    padding-top: 70px;
}
  #section05 a span {
    position: absolute;
    bottom: 65px;
    left: 50%;
    width: 24px;
    height: 24px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
  
  

/* @keyframes intro{
    0% {background-color: crimson;}
    100% {background-color: rgba(255,255,255,.25);}
}

@keyframes intro-title{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes hello{
    0% {left:83%;}
    100% {left:0px;}
} */

/* ABOUT  */

.about-me{
    color: whitesmoke;
    background: #2b2b2b;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

}
.about-me-image{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.about-me-image img{
    width: 150px;
    border-radius: 100%;
    border: solid violet;
    position:relative;
}

.about-me-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30x;
    height: 100px;
    font-size: 2em;
    text-underline-position: under;
    text-decoration: underline chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-content{
    font-size: 1.3em;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
/* .resume{ */

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
a { color: white; }
.resume {
    margin-top: 30px;
    border-radius: 4px;
    background-color: chartreuse;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 200px;
    padding-top: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    color:white;
  }
  
  .resume span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .resume span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .resume:hover span {
    padding-right: 25px;
  }
  
  .resume:hover span:after {
    opacity: 1;
    right: 0;
  }
/* .isVisible-about-me-title{
    position: relative;
    text-align: center;
    padding:30px;
    animation-name:about-me-title;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.isVisible-about-me-content{
    position: relative;
    padding: 30px;
    text-align: left;
    animation-name:about-me-content;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
} */
 
 /* @keyframes about-me-title{
    0% {right: 220px;}
    100% {right: 0px;}
}

@keyframes about-me-content{
    0% {left: 70%;}
    100% {left:0px;}
} */

/* Skills */
.skills{
    background-color:whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.skills-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30x;
    height: 100px;
    font-size: 2em;
    text-underline-position: under;
    text-decoration: underline chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.skill{
    margin: 10px;
    justify-content: center;
}

.skills-content{
    width: 100%;
    /* border: solid black; */
    justify-content: space-evenly;
}


.skill div{
    font-size: 1.5em;
    width: 100%;
    border-top: solid palegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.skill .list{
    width: 100%;
    width: 100%;
    margin-top: 40px;
    color: gray;
    /* border-left:solid palegreen; */
    padding-left:10px;
    padding-bottom: 20px;
}

/* Projects */

.projects{
    /* padding-bottom: 50px; */
    width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
    /* border: solid black; */
    margin: auto;
    display: flex;
    justify-content: center;

}

.projects-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30x;
    height: 100px;
    font-size: 2em;
    /* color:white; */
    text-underline-position: under;
    text-decoration: underline chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.projects-content{
    width: 100%;
    padding-left: 30px;
    padding-right: 5px;
    justify-content: space-evenly;
}

.project{
    position: relative;
    /* min-height: 300px; */
    border: solid yellow;
    margin: 15px;
    /* background-color:whitesmoke; */
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 1s ease;
}
    
.project:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
    
    
.project img{
    width: 100%;
    height: 100%;
}

.project .img{
    border: solid black;
    width: 100%;
}

.projects-content img{
    height: 250px;
}

.project{
    padding:0;
    padding-bottom: 10px;
}

.project .buttons{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    bottom: 10px;
}

.project button{
    width: 100%;
}

.project .tags{
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.project .name{
    margin-top: 10px;
    padding-left: 10px;
}


/* Contact Me */
/* .main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0, 0.4); */

.contact{
    display: flex;
    justify-content: center;
    min-height: 400px;
    background-color: #2b2b2b;
    padding-top: 50px;
    /* border:solid violet; */
}

.contact .title{
    /* border: solid violet; */
    color: whitesmoke;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;

    /* height: 150px; */
    font-size: 2em;
    /* text-underline-position: under; */
    /* text-decoration: underline; */
    /* text-align: center; */
    /* text-underline-position: underline violet; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-end;

}

.contact .logos{
    font-size: 2em;
    /* border: solid red; */
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 20%;
    padding-left: 20%;
}
.contact a{
    margin: 5px;
}
.contact .button{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    /* border: solid rgb(173, 167, 159); */
    width: 100%;
    align-items: flex-end;
    text-align: center;
}

.example_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    /* background: #20bf6b; */
    background: chartreuse;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.copyright{
    color:white;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* height: 30px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid aliceblue;
}